@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(Lily_Script_One/LilyScriptOne-Regular.ttf) format('truetype');
}
